<div class="modal" id="modalThem">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body p-0">
                <i th:replace="${content}"></i>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger"
                 data-dismiss="modal"><i class="bi-x"></i>Close</button>
            </div>

        </div>
    </div>
</div>